<br>
<div class="p-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <app-edit-modal></app-edit-modal>
        <button class="btn btn-danger" type="button" (click)="deleteTutorial()">Eliminar</button>
    </div>
    <div class="text-center">
        <img src= {{ tutorial.img }} class="card-img-top" style="width: 36rem;">
        <br>
        <div class="card-body">
            <br>
            <h5 class="card-title">{{ tutorial.title }}</h5>
            <p class="card-text">{{ tutorial.description }}</p>
            <p class="card-text"><small class="text-muted">Publicado</small></p>
        </div>
    </div>
</div>