<!--CONTENEDOR PRINCIPAL-->

<!--
<div class="container">
    <div class="d-grid gap-2 d-md-block">
        <div class="row">
             <div class="col-md">
                 <h2 class="text-center">Listado de tutoriales</h2>
             </div>
             <div class="col-md">
                 <div class="dropdown">
                     <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                     Añadir aula
                     </button>
                     <form class="dropdown-menu p-4">
                     <div class="mb-3">
                         <label for="exampleDropdownFormEmail2" class="form-label">Nombre del aula</label>
                         <input type="text" class="form-control" id="exampleDropdownFormEmail2" placeholder="Escribe nombre del aula">
                     </div>
                     <div class="mb-3">
                         <label for="exampleDropdownFormPassword2" class="form-label">Imagen</label>
                         <input type="text" class="form-control" id="exampleDropdownFormPassword2" placeholder="Escribe URL de la imagen">
                     </div>
                         <button type="submit" class="btn btn-primary" (click)="addClassroom()">Guardar</button>
                     </form>
                 </div>
             </div>
         </div>
      </div>
      
      <div class="container text-center">
        <div class="row row-cols-3">
          <div class="col" *ngFor="let classroom of classrooms">
            <div class="card" style="width: 18rem;">
              <img src="{{classroom.img}}" class="..." alt="...">
              <div class="card-body">
               <h5 class="card-title">{{classroom.name}}</h5>
               <p class="card-text">{{classroom.students.length}}</p>
               <a [routerLink]="['/{{classroom.id}}']" class="btn btn-primary">Entrar a la clase</a>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
-->

<div class="container">
            <!--TITULILLO-->
            <div class="row">
                <div class="col">
                    <br>
                    <h2 class="text-center mx-auto">Listado de tutoriales</h2>
                </div>
            </div><br>
    <div class="row">
        <!--COLUMNA IZQUIERDA CON LAS CARDS-->
        <div class="col-8">

            <!--CARDS-->
            <div class="container text-center">
                <div class="row row-cols-3">
                    <!--<div class="col" *ngFor="let tutorial of tutorials">-->
                        <div class="card" style="width: 18rem;">
                            <img src="https://static-sevilla.abc.es/media/gurmesevilla/2012/01/comida-rapida-casera.jpg" class="..." alt="">
                            <div class="card-body">
                                <h5 class="card-title">Cómo hacer una American Burger explicado paso a paso</h5>
                                <a class="btn btn-danger">Ver tutorial</a>
                            </div>
                        </div>
                    <!--</div>-->
                </div>
            </div>
        </div>

        <!--COLUMNA DERECHA CON EL FORMULARIO-->
        <div class="col-4 mx-auto">
            <div class="row">
                <app-add-modal></app-add-modal>
            </div>
        </div>
    </div>
</div>